<template>
  <form @submit.prevent="submit">
    <ul class="nav nav-tabs comment-form-tab">
      <li class="active"><a href="#write" data-toggle="tab" aria-expanded="true">編集</a></li>
      <li><a href="#preview" data-toggle="tab" aria-expanded="true">プレビュー</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="write">
        <div class="form-group">
          <textarea v-model="comment.content" class="form-control" id="content" placeholder="コメント" rows="5"></textarea>
        </div>
      </div>
      <div class="tab-pane" id="preview">
        <div v-html="comment.markdown"></div>
      </div>
    </div>
    <div class="form-group" v-if="isNew">
      <div class="col-md-12 text-right">
        <button class="btn btn-primary">投稿する</button>
      </div>
    </div>
    <div class="form-group" v-else>
      <div class="col-md-12 text-right">
        <button class="btn btn-sm btn-primary">更新する</button>
        <button class="btn btn-sm btn-primary" @click.prevent="cancel">キャンセル</button>
      </div>
    </div>
  </form>
</template>

<script>
  import Comment from '../models/Comment';

  export default {
    props: {
      comment: Comment
    },
    computed: {
      isNew() {
        return !this.comment.id;
      }
    },
    methods: {
      submit() {
        this.$emit('submit', this.comment);
      },
      cancel() {
        this.$emit('cancel');
      },
    }
  };
</script>

<style scoped>
  .comment-form-tab {
    margin-bottom: 15px;
  }
</style>
