<template>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="group1 col-sm-9">
          <span class="glyphicon glyphicon-user"></span>&nbsp;
          <router-link :to="comment.user.url">{{ comment.user.name }}</router-link>
        </div>
        <div class="group2 col-sm-3">
          {{ comment.updatedAt }}
        </div>
      </div>
      <hr>
      <div v-if="!isEditing">
        <div v-html="comment.markdown"></div>
        <div class="btn-group pull-right" v-if="isCommenter">
          <button class="btn btn-sm btn-default" @click="edit">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-sm btn-default" @click="destroy">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
      </div>
      <blog-comment-form :comment="editingComment" @submit="update" @cancel="clear" v-else>
      </blog-comment-form>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import CommentForm from './CommentForm.vue';
  import Comment from '../models/Comment';

  export default {
    components: {
      'blog-comment-form': CommentForm
    },
    props: {
      comment: Comment
    },
    data() {
      return {
        isEditing: false,
        editingComment: new Comment({})
      };
    },
    computed: {
      ...mapGetters('auth', [
        'user'
      ]),
      isCommenter() {
        return this.user && this.comment.user_id === this.user.id;
      }
    },
    methods: {
      edit() {
        this.isEditing = true;
        this.editingComment = this.comment.clone();
      },
      clear() {
        this.isEditing = false;
        this.editingComment = new Comment({});
      },
      async update(comment) {
        await this.$store.dispatch('comments/update', { id: comment.id, comment });
        this.clear();
      },
      async destroy() {
        await this.$store.dispatch('comments/delete', this.comment.id);
      }
    }
  };
</script>

<style scoped>
  @media (min-width: 768px) {
    .group2 {
      text-align: right;
    }
  }
</style>
