<template>
  <footer class="blog-footer">
    <p class="text-muted text-center">&copy; 2018 Blog Platform.</p>
  </footer>
</template>

<script>
</script>

<style scoped>
  .blog-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
  }

  .blog-footer > p {
    margin: 15px 0;
  }
</style>
