<template>
  <div class="form-group" :class="{ 'has-error': hasError }">
    <div :class="gridClass">
      <slot></slot>
      <div class="help-block" v-if="hasError">
        <ul class="list-unstyled">
          <li v-for="(message, index) in errorMessages" :key="index">{{ message }}</li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    props: {
      attribute: {
        type: String,
        required: true
      },
      errors: {
        type: Object,
        default() {
          return {};
        }
      },
      gridClass: {
        type: Array
      }
    },
    computed: {
      errorMessages() {
        if (!this.hasError) return [];
        return this.errors[this.attribute];
      },
      hasError() {
        return Object.keys(this.errors).some(attr => attr === this.attribute);
      }
    }
  };
</script>
