<template>
  <header ref="header" :style="headerStyle" class="blog-header navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
      <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".blog-navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <router-link to="/" class="navbar-brand">Blog Platform</router-link>
      </div>
      <nav class="collapse navbar-collapse blog-navbar-collapse" role="navigation">
        <ul class="nav navbar-nav navbar-left">
          <router-link tag="li" to="/categories" exact><a>カテゴリー</a></router-link>
          <router-link tag="li" to="/tags" exact><a>タグ</a></router-link>
          <router-link tag="li" to="/favorites" exact><a>お気に入り</a></router-link>
        </ul>
        <form class="navbar-form navbar-left">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="キーワードで検索">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                <span class="glyphicon glyphicon-search"></span>
              </button>
            </span>
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right" v-if="!authenticated">
          <router-link tag="li" :to="registerRoute"><a>新規登録</a></router-link>
          <router-link tag="li" :to="loginRoute"><a>ログイン</a></router-link>
        </ul>
        <ul class="nav navbar-nav navbar-right" v-else>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              投稿 <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <router-link tag="li" to="/edit/posts" exact><a>投稿一覧</a></router-link>
              <router-link tag="li" to="/edit/posts/new"><a>新規投稿</a></router-link>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              {{ user.name }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <router-link tag="li" to="/admin" v-if="isAdmin"><a>システム管理</a></router-link>
              <router-link tag="li" to="/settings/profile"><a>プロフィール設定</a></router-link>
              <router-link tag="li" to="/settings/password"><a>パスワード変更</a></router-link>
              <li><a href="#" @click.prevent="logout">ログアウト</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
        scrollTop: 0,
        headerTop: 0
      };
    },
    computed: {
      ...mapGetters('auth', [
        'user',
        'authenticated',
        'isAdmin'
      ]),
      headerStyle() {
        return { top: `${this.headerTop}px` };
      },
      loginRoute() {
        return { path: '/login', query: { redirect: this.$route.fullPath } };
      },
      registerRoute() {
        return { path: '/register', query: { redirect: this.$route.fullPath } };
      },
    },
    mounted() {
      document.addEventListener('scroll', () => this.onScroll());
    },
    methods: {
      async logout() {
        await this.$store.dispatch('auth/logout');
        this.$router.push('/');
      },
      onScroll() {
        const scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        const headerH = this.$refs.header.offsetHeight;

        this.headerTop = (scrollTop > this.scrollTop && scrollTop > headerH) ? -headerH : 0;
        this.scrollTop = scrollTop;
      }
    }
  };
</script>

<style scoped>
  .blog-header {
    transition: .3s;
  }
</style>
