<template>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">コメント</h4>
    </div>
    <div class="panel-body">
      <blog-comment-form :comment="comment" @submit="submit" v-if="authenticated">
      </blog-comment-form>
      <div v-else>
        コメントするには<router-link :to="loginRoute">ログイン</router-link>または<router-link :to="registerRoute">新規登録</router-link>してください。
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Comment from '../models/Comment';
  import CommentForm from './CommentForm.vue';

  export default {
    components: {
      'blog-comment-form': CommentForm
    },
    props: {
      id: Number
    },
    data() {
      return {
        comment: new Comment({})
      };
    },
    computed: {
      ...mapGetters('auth', [
        'authenticated'
      ]),
      loginRoute() {
        return { path: '/login', query: { redirect: this.$route.fullPath } };
      },
      registerRoute() {
        return { path: '/register', query: { redirect: this.$route.fullPath } };
      }
    },
    methods: {
      async submit(comment) {
        comment.post_id = this.id;
        await this.$store.dispatch('comments/create', comment);
        this.clear();
      },
      clear() {
        this.comment = new Comment({});
      }
    }
  };
</script>
