<template>
  <ul class="pagination">
    <router-link tag="li" :to="firstPageUrl" exact :class="{disabled: !canPaginateFirst}">
      <a>&laquo;</a>
    </router-link>
    <router-link tag="li" :to="previousPageUrl" exact :class="{disabled: !canPaginateFirst}">
      <a>&lsaquo;</a>
    </router-link>
    <li class="disabled" v-if="showFirstDots">
      <span>&hellip;</span>
    </li>
    <router-link
      tag="li"
      v-for="(page, index) in numericLinks"
      :key="index"
      :to="pageUrl(page)"
      exact
      :class="{disabled: !canPaginate(page)}">
      <a>{{ page }}</a>
    </router-link>
    <li class="disabled" v-if="showLastDots">
      <span>&hellip;</span>
    </li>
    <router-link tag="li" :to="nextPageUrl" exact :class="{disabled: !canPaginateLast}">
      <a>&rsaquo;</a>
    </router-link>
    <router-link tag="li" :to="lastPageUrl" exact :class="{disabled: !canPaginateLast}">
      <a>&raquo;</a>
    </router-link>
  </ul>
</template>

<script>
  export default {
    props: {
      totalPages: {
        type: Number,
        required: true
      },
      currentPage: {
        type: Number,
        required: true
      },
      pageLimit: {
        type: Number,
        default: 5
      },
      baseUrl: {
        type: String,
        required: true
      }
    },
    computed: {
      /**
       * 先頭へページネーション可能か
       *
       * @returns {boolean}
       */
      canPaginateFirst() {
        return this.canPaginate(1);
      },
      /**
       * 末尾へページネーション可能か
       *
       * @returns {boolean}
       */
      canPaginateLast() {
        return this.canPaginate(this.totalPages);
      },
      /**
       * 先頭の省略記号を表示するか
       *
       * @returns {boolean}
       */
      showFirstDots() {
        return !this.isTotalPagesLessThanLimit && !this.isCurrentPageNearFirst;
      },
      /**
       * 末尾の省略記号を表示するか
       *
       * @returns {boolean}
       */
      showLastDots() {
        return !this.isTotalPagesLessThanLimit && !this.isCurrentPageNearLast;
      },
      /**
       * 総ページ数が表示ページ制限以下であるか
       *
       * @returns {boolean}
       */
      isTotalPagesLessThanLimit() {
        return this.totalPages <= this.pageLimit;
      },
      /**
       * 現在のページが先頭に近いか
       *
       * @returns {boolean}
       */
      isCurrentPageNearFirst() {
        return this.currentPage < (this.pageLimit - 1);
      },
      /**
       * 現在のページが最後に近いか
       *
       * @returns {boolean}
       */
      isCurrentPageNearLast() {
        return (this.totalPages - this.currentPage + 2) < this.pageLimit;
      },
      /**
       * 数字のページリンクの数
       *
       * @returns {number}
       */
      numericLinkSize() {
        if (this.isTotalPagesLessThanLimit) {
          return this.totalPages;
        } else if (this.isCurrentPageNearFirst || this.isCurrentPageNearLast) {
          // 省略記号一つ分引く
          return this.pageLimit - 1;
        } else {
          // 省略記号二つ分引く
          return this.pageLimit - 2;
        }
      },
      /**
       * 数字のページリンクの初期値
       *
       * @returns {number}
       */
      startNumber() {
        if (this.isTotalPagesLessThanLimit || this.isCurrentPageNearFirst) {
          return 1;
        } else if (this.isCurrentPageNearLast) {
          return this.totalPages - this.numericLinkSize + 1;
        } else {
          return this.currentPage - Math.floor(this.numericLinkSize / 2);
        }
      },
      /**
       * 数字のページリンク
       *
       * @returns {Array.<number>}
       */
      numericLinks() {
        const links = [];
        for (let i = 0; i < this.numericLinkSize; i++) {
          links.push(this.startNumber + i);
        }
        return links;
      },
      /**
       * 先頭ページのURL
       *
       * @returns {string}
       */
      firstPageUrl() {
        return this.pageUrl(1);
      },
      /**
       * 末尾ページのURL
       *
       * @returns {string}
       */
      lastPageUrl() {
        return this.pageUrl(this.totalPages);
      },
      /**
       * 前ページのURL
       *
       * @returns {string}
       */
      previousPageUrl() {
        if (!this.canPaginateFirst) return this.pageUrl(1);
        return this.pageUrl(this.currentPage - 1);
      },
      /**
       * 次ページのURL
       *
       * @returns {string}
       */
      nextPageUrl() {
        if (!this.canPaginateLast) return this.pageUrl(this.totalPages);
        return this.pageUrl(this.currentPage + 1);
      }
    },
    methods: {
      /**
       * 指定のページにページネーション可能か
       *
       * @param {number} page
       * @returns {boolean}
       */
      canPaginate(page) {
        return this.currentPage !== page;
      },
      /**
       * ページのURLを生成する
       *
       * @param {number} page
       * @returns {string}
       */
      pageUrl(page) {
        return { path: this.baseUrl, query: { page } };
      }
    }
  };
</script>
