<template>
  <article class="panel panel-default">
    <div class="panel-body">
      <h3><router-link :to="to">{{ post.title }}</router-link></h3>
      <blog-post-meta :post="post"></blog-post-meta>
      <div class="post-content">
        <p>{{ post.excerpt }}</p>
        <p class="text-right">
          <router-link :to="to">続きを読む</router-link>
        </p>
      </div>
    </div>
  </article>
</template>

<script>
  import Post from '../models/Post';
  import PostMeta from './PostMeta.vue';

  export default {
    components: {
      'blog-post-meta': PostMeta
    },
    props: {
      post: Post
    },
    computed: {
      to() {
        return this.post.url;
      }
    },
  };
</script>

<style scoped>
  .post-content {
    margin-top: 15px;
  }
</style>
