<template>
  <div>
    <div class="row">
      <div class="group1 col-sm-9">
        <span class="glyphicon glyphicon-user"></span>&nbsp;
        <router-link :to="post.user.url">{{ post.user.name }}</router-link>
      </div>
      <div class="group2 col-sm-3">
        {{ post.publishedAt }}
      </div>
    </div>
    <div class="row">
      <div class="group1 col-sm-9">
        <span v-if="post.category.name">
          <span class="glyphicon glyphicon-folder-open"></span>&nbsp;
          <router-link :to="post.category.url">{{ post.category.name }}</router-link>
          &nbsp;&nbsp;
        </span>
        <span v-if="post.tags.length !== 0">
          <span class="glyphicon glyphicon-tag"></span>
          <span v-for="(tag, index) in post.tags" :key="index">
            <router-link :to="tag.url">{{ tag.name }}</router-link>
            <span v-if="index+1 < post.tags.length">, </span>
          </span>
        </span>
      </div>
      <div class="group2 col-sm-3">
        <span>
          <span :class="favoriteIcon" :style="favoriteIconStyle" @click="toggleFavorite"></span>&nbsp;
          {{ post.favorite_users_count }}
          &nbsp;&nbsp;
        </span>
        <span>
          <span class="glyphicon glyphicon-comment"></span>&nbsp;
          <router-link :to="`${post.url}#comments`">{{ post.comments_count }}</router-link>
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Post from '../models/Post';

  export default {
    props: {
      post: Post
    },
    computed: {
      ...mapGetters('auth', [
        'authenticated'
      ]),
      favoriteIcon() {
        if (this.post.is_favorited) {
          return ['glyphicon', 'glyphicon-star', 'text-warning'];
        }
        return ['glyphicon', 'glyphicon-star-empty'];
      },
      favoriteIconStyle() {
        if (this.authenticated) {
          return { cursor: 'pointer' };
        }
        return {};
      }
    },
    methods: {
      async toggleFavorite() {
        if (!this.authenticated) return;

        if (this.post.is_favorited) {
          await this.$store.dispatch('favorites/unfavorite', this.post.id);
        } else {
          await this.$store.dispatch('favorites/favorite', this.post.id);
        }
      }
    }
  };
</script>

<style scoped>
  @media (min-width: 768px) {
    .group2 {
      text-align: right;
    }
  }
</style>
