<template>
  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">カテゴリー</h4>
      </div>
      <div class="list-group">
        <router-link :to="category.url" class="list-group-item" v-for="(category, index) in categories" :key="index">
          <span class="badge">{{ category.posts_count }}</span>
          {{ category.name }}
        </router-link>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">人気のタグ</h4>
      </div>
      <div class="list-group">
        <router-link :to="tag.url" class="list-group-item" v-for="(tag, index) in tags" :key="index">
          <span class="badge">{{ tag.posts_count }}</span>
          {{ tag.name }}
        </router-link>
      </div>
      <div class="panel-body text-right">
        <router-link to="/tags">タグ一覧</router-link>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    computed: {
      ...mapGetters('categories', [
        'categories'
      ]),
      ...mapGetters('tags', [
        'popularTags'
      ]),
      tags() {
        return this.popularTags.slice(0, 5);
      }
    },
    async created() {
      await Promise.all([
        this.$store.dispatch('categories/fetch'),
        this.$store.dispatch('tags/fetch')
      ]);
    },
  };
</script>
