<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{ category.name }}</h1>
        <ul class="nav nav-tabs blog-tab">
          <router-link tag="li" :to="`${category.url}/trend`"><a>最近の人気</a></router-link>
          <router-link tag="li" :to="`${category.url}/new`"><a>新着</a></router-link>
        </ul>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Category from '../models/Category';

  export default {
    props: {
      slug: String
    },
    computed: {
      ...mapGetters('categories', [
        'findCategoryBySlug'
      ]),
      category() {
        const category = this.findCategoryBySlug(this.slug);
        return !category ? new Category({}) : category;
      }
    },
    async created() {
      await this.fetch();
    },
    watch: {
      $route: 'fetch'
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('categories/fetch');
      }
    }
  };
</script>

<style scoped>
  .blog-tab {
    margin-bottom: 24px;
  }
</style>
