<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>カテゴリー</h1>
        <hr>
        <ul class="list-unstyled">
          <li v-for="(category, index) in categories" :key="index">
            <router-link :to="category.url">
              {{ category.name }}&nbsp;
              <span class="badge">{{ category.posts_count }}</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
      };
    },
    computed: {
      ...mapGetters('categories', [
        'categories'
      ])
    },
    async created() {
      await this.$store.dispatch('categories/fetch');
    }
  };
</script>
