<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>お気に入り</h1>
        <div  class="blog-content">
          <blog-posts :params="params" v-if="authenticated"></blog-posts>
          <div v-else>
            <router-link :to="loginRoute">ログイン</router-link>または<router-link :to="registerRoute">新規登録</router-link>してください。
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import PostSearchParams from '../models/PostSearchParams';
  import Posts from './Posts.vue';

  export default {
    components: {
      'blog-posts': Posts
    },
    props: {
      page: Number
    },
    computed: {
      ...mapGetters('auth', [
        'user',
        'authenticated'
      ]),
      params() {
        return PostSearchParams.favoritesLatest({
          favorite_username: this.authenticated ? this.user.name : null,
          page: this.page
        });
      },
      loginRoute() {
        return { path: '/login', query: { redirect: this.$route.fullPath } };
      },
      registerRoute() {
        return { path: '/register', query: { redirect: this.$route.fullPath } };
      }
    }
  };
</script>

<style scoped>
  .blog-content {
    margin-top: 24px;
  }
</style>
