<template>
  <div class="container">
    <div class="jumbotron">
      <h1>Blog Platform</h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h2>最近人気の投稿</h2>
        <blog-post-list-item v-for="(post, index) in posts" :key="index" :post="post">
        </blog-post-list-item>
      </div>
      <div class="col-md-4">
        <blog-sidebar></blog-sidebar>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import PostSearchParams from '../models/PostSearchParams';
  import Sidebar from '../components/Sidebar.vue';
  import PostListItem from '../components/PostListItem.vue';

  export default {
    components: {
      'blog-sidebar': Sidebar,
      'blog-post-list-item': PostListItem
    },
    computed: {
      ...mapGetters('posts', [
        'posts'
      ])
    },
    async created() {
      await this.fetch();
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('posts/fetch', new PostSearchParams({
          per_page: 5,
          sort: 'favorites_latest'
        }));
      }
    }
  };
</script>
