<template>
  <div class="container">
    <div class="well col-md-6 col-md-offset-3">
      <form class="form-horizontal" @submit.prevent="login">
        <blog-form-group attribute="name" :errors="errors" :grid-class="gridClass">
          <label for="name" class="control-label">ユーザ名</label>
          <input v-model="name" type="text" class="form-control" id="name" placeholder="username">
        </blog-form-group>
        <blog-form-group attribute="password" :errors="errors" :grid-class="gridClass">
          <label for="password" class="control-label">パスワード</label>
          <input v-model="password" type="password" class="form-control" id="password" placeholder="********">
        </blog-form-group>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-primary btn-block">ログイン</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import UnprocessableEntityError from '../errors/UnprocessableEntityError';
  import FormGroup from '../components/FormGroup.vue';

  export default {
    components: {
      'blog-form-group': FormGroup
    },
    props: {
      redirect: {
        type: String,
        default: '/'
      }
    },
    data() {
      return {
        name: '',
        password: '',
        errors: {}
      };
    },
    computed: {
      gridClass() {
        return ['col-md-10', 'col-md-offset-1'];
      }
    },
    methods: {
      async login() {
        try {
          await this.$store.dispatch('auth/login', {
            name: this.name,
            password: this.password
          });
          this.$router.push(this.redirect);
        } catch (e) {
          if (e instanceof UnprocessableEntityError) {
            this.errors = e.errors();
          } else {
            throw e;
          }
        }
      }
    }
  };
</script>
