<template>
  <div>
    <blog-post-list-item v-for="(post, index) in posts" :key="index" :post="post">
    </blog-post-list-item>
    <blog-pagination
      :totalPages="postsPage.last"
      :currentPage="postsPage.current"
      :pageLimit="7"
      :baseUrl="url">
    </blog-pagination>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import PostSearchParams from '../models/PostSearchParams';
  import PostListItem from '../components/PostListItem.vue';
  import Pagination from '../components/Pagination.vue';

  export default {
    components: {
      'blog-post-list-item': PostListItem,
      'blog-pagination': Pagination
    },
    props: {
      params: PostSearchParams
    },
    computed: {
      ...mapGetters('posts', {
        posts: 'posts',
        postsPage: 'page'
      }),
      url() {
        return this.$route.path;
      }
    },
    async created() {
      await this.fetch();
    },
    watch: {
      $route: 'fetch'
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('posts/fetch', this.params);
      }
    }
  };
</script>
