<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <article>
          <h1>{{ post.title }}</h1>
          <blog-post-meta :post="post"></blog-post-meta>
          <hr>
          <div v-html="post.markdown"></div>
          <hr>
        </article>
        <div id="comments">
          <blog-comment v-for="(comment, index) in post.comments" :key="index" :comment="comment">
          </blog-comment>
          <hr>
          <blog-new-comment :id="post.id">
          </blog-new-comment>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Post from '../models/Post';
  import Sidebar from '../components/Sidebar.vue';
  import PostMeta from '../components/PostMeta.vue';
  import NewComment from '../components/NewComment.vue';
  import Comment from '../components/Comment.vue';

  export default {
    components: {
      'blog-sidebar': Sidebar,
      'blog-post-meta': PostMeta,
      'blog-new-comment': NewComment,
      'blog-comment': Comment
    },
    props: {
      username: String,
      slug: String
    },
    computed: {
      ...mapGetters('posts', [
        'findPostByKeys'
      ]),
      post() {
        const post = this.findPostByKeys(this.username, this.slug);
        return !post ? new Post({}) : post;
      }
    },
    async created() {
      await this.$store.dispatch('posts/fetchByKeys', {
        username: this.username,
        slug: this.slug
      });
    },
  };
</script>
