<template>
  <div class="container">
    <div class="well col-md-6 col-md-offset-3">
      <form class="form-horizontal" @submit.prevent="register">
        <blog-form-group attribute="name" :errors="errors" :grid-class="gridClass">
          <label for="name" class="control-label">ユーザ名</label>
          <input v-model="form.name" type="text" class="form-control" id="name" placeholder="username">
        </blog-form-group>
        <blog-form-group attribute="email" :errors="errors" :grid-class="gridClass">
          <label for="email" class="control-label">メールアドレス</label>
          <input v-model="form.email" type="text" class="form-control" id="email" placeholder="username@example.com">
        </blog-form-group>
        <blog-form-group attribute="password" :errors="errors" :grid-class="gridClass">
          <label for="password" class="control-label">パスワード</label>
          <input v-model="form.password" type="password" class="form-control" id="password" placeholder="********">
        </blog-form-group>
        <blog-form-group attribute="password_confirmation" :errors="errors" :grid-class="gridClass">
          <label for="password_confirmation" class="control-label">パスワード(確認)</label>
          <input v-model="form.password_confirmation" type="password" class="form-control" id="password_confirmation" placeholder="********">
        </blog-form-group>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-primary btn-block">登録する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import RegisterForm from '../models/RegisterForm';
  import UnprocessableEntityError from '../errors/UnprocessableEntityError';
  import FormGroup from '../components/FormGroup.vue';

  export default {
    components: {
      'blog-form-group': FormGroup
    },
    props: {
      redirect: {
        type: String,
        default: '/'
      }
    },
    data() {
      return {
        form: new RegisterForm({}),
        errors: {}
      };
    },
    computed: {
      gridClass() {
        return ['col-md-10', 'col-md-offset-1'];
      }
    },
    methods: {
      async register() {
        try {
          await this.$store.dispatch('auth/register', this.form);
          this.$router.push(this.redirect);
        } catch (e) {
          if (e instanceof UnprocessableEntityError) {
            this.errors = e.errors();
          } else {
            throw e;
          }
        }
      }
    }
  };
</script>
