<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{ tag.name }}</h1>
        <ul class="nav nav-tabs blog-tab">
          <router-link tag="li" :to="`${tag.url}/trend`"><a>最近の人気</a></router-link>
          <router-link tag="li" :to="`${tag.url}/new`"><a>新着</a></router-link>
        </ul>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Tag from '../models/Tag';

  export default {
    props: {
      slug: String
    },
    computed: {
      ...mapGetters('tags', [
        'findTagBySlug'
      ]),
      tag() {
        const tag = this.findTagBySlug(this.slug);
        return !tag ? new Tag({}) : tag;
      }
    },
    async created() {
      await this.fetch();
    },
    watch: {
      $route: 'fetch'
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('tags/fetch');
      }
    }
  };
</script>

<style scoped>
  .blog-tab {
    margin-bottom: 24px;
  }
</style>
