<template>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1>タグ</h1>
        <hr>
        <ul class="list-unstyled row">
          <li v-for="(tag, index) in popularTags" :key="index" class="col-sm-4">
            <router-link :to="tag.url">
              {{ tag.name }}&nbsp;
              <span class="badge">{{ tag.posts_count }}</span>
            </router-link>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {
      };
    },
    computed: {
      ...mapGetters('tags', [
        'popularTags'
      ])
    },
    async created() {
      await this.$store.dispatch('tags/fetch');
    }
  };
</script>
