<template>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>{{ user.name }}</h1>
        <hr>
        <div v-text="user.bio" class="user-bio"></div>
        <hr>
        <ul class="nav nav-tabs blog-tab">
          <router-link tag="li" :to="`${user.url}/posts`"><a>新着</a></router-link>
          <router-link tag="li" :to="`${user.url}/favorites`"><a>お気に入り</a></router-link>
        </ul>
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  export default {
    props: {
      username: String
    },
    computed: {
      ...mapGetters('users', [
        'user'
      ])
    },
    async created() {
      await this.fetch();
    },
    watch: {
      $route: 'fetch'
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('users/fetchByName', this.username);
      }
    }
  };
</script>

<style scoped>
  .blog-tab {
    margin-bottom: 24px;
  }

  .user-bio {
    white-space: pre-wrap;
  }
</style>
