<template>
  <div>
    <blog-header></blog-header>
    <router-view></router-view>
    <blog-footer></blog-footer>
  </div>
</template>

<script>
  import Header from './components/Header.vue';
  import Footer from './components/Footer.vue';

  export default {
    components: {
      'blog-header': Header,
      'blog-footer': Footer
    }
  };
</script>

<style>
  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-top: 75px;
    margin-bottom: 60px;
  }
</style>
