<template>
  <div class="container">
    <div class="well col-md-6 col-md-offset-3">
      <form class="form-horizontal" @submit.prevent="update">
        <blog-form-group attribute="password" :errors="errors" :grid-class="gridClass">
          <label for="password" class="control-label">旧パスワード</label>
          <input v-model="form.password" type="password" class="form-control" id="password" placeholder="********">
        </blog-form-group>
        <blog-form-group attribute="new_password" :errors="errors" :grid-class="gridClass">
          <label for="new_password" class="control-label">新パスワード</label>
          <input v-model="form.new_password" type="password" class="form-control" id="new_password" placeholder="********">
        </blog-form-group>
        <blog-form-group attribute="new_password_confirmation" :errors="errors" :grid-class="gridClass">
          <label for="new_password_confirmation" class="control-label">新パスワード(確認)</label>
          <input v-model="form.new_password_confirmation" type="password" class="form-control" id="new_password_confirmation" placeholder="********">
        </blog-form-group>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-primary btn-block">変更する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import ChangePasswordForm from '../../models/ChangePasswordForm';
  import UnprocessableEntityError from '../../errors/UnprocessableEntityError';
  import FormGroup from '../../components/FormGroup.vue';

  export default {
    components: {
      'blog-form-group': FormGroup
    },
    data() {
      return {
        form: new ChangePasswordForm({}),
        errors: {}
      };
    },
    computed: {
      gridClass() {
        return ['col-md-10', 'col-md-offset-1'];
      }
    },
    methods: {
      async update() {
        try {
          await this.$store.dispatch('auth/changePassword', this.form);
          this.$router.push('/');
        } catch (e) {
          if (e instanceof UnprocessableEntityError) {
            this.errors = e.errors();
          } else {
            throw e;
          }
        }
      }
    }
  };
</script>
