<template>
  <div class="container">
    <div class="well col-md-6 col-md-offset-3">
      <form class="form-horizontal" @submit.prevent="save">
        <blog-form-group attribute="name" :errors="errors" :grid-class="gridClass">
          <label for="name" class="control-label">ユーザ名</label>
          <p class="form-control-static">{{ user.name }}</p>
        </blog-form-group>
        <blog-form-group attribute="email" :errors="errors" :grid-class="gridClass">
          <label for="email" class="control-label">メールアドレス</label>
          <input v-model="user.email" type="text" class="form-control" id="email" placeholder="username@example.com">
        </blog-form-group>
        <blog-form-group attribute="bio" :errors="errors" :grid-class="gridClass">
          <label for="bio" class="control-label">プロフィール</label>
          <textarea v-model="user.bio" class="form-control" id="bio" placeholder="プロフィール" rows="3"></textarea>
        </blog-form-group>
        <div class="form-group">
          <div class="col-md-10 col-md-offset-1">
            <button class="btn btn-primary btn-block">保存する</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import User from '../../models/User';
  import UnprocessableEntityError from '../../errors/UnprocessableEntityError';
  import FormGroup from '../../components/FormGroup.vue';

  export default {
    components: {
      'blog-form-group': FormGroup
    },
    data() {
      return {
        user: new User({}),
        errors: {}
      };
    },
    computed: {
      ...mapGetters('auth', {
        authUser: 'user'
      }),
      gridClass() {
        return ['col-md-10', 'col-md-offset-1'];
      }
    },
    created() {
      this.init();
    },
    watch: {
      authUser: 'init'
    },
    methods: {
      init() {
        if (this.authUser) {
          this.user = this.authUser.clone();
        }
      },
      async save() {
        try {
          await this.$store.dispatch('auth/changeProfile', this.user);
          this.$router.push('/');
        } catch (e) {
          if (e instanceof UnprocessableEntityError) {
            this.errors = e.errors();
          } else {
            throw e;
          }
        }
      }
    }
  };
</script>
