<template>
  <div class="container">
    <h1>{{ editTitle }}</h1>
    <div>
      <form class="form-horizontal col-md-6" @submit.prevent="submit">
        <div class="form-group">
          <label for="title" class="control-label">タイトル</label>
          <input v-model="post.title" type="text" class="form-control" id="title" placeholder="タイトル">
        </div>
        <div class="form-group">
          <label for="slug" class="control-label">スラッグ</label>
          <input v-model="post.slug" type="text" class="form-control" id="slug" placeholder="スラッグ">
        </div>
        <div class="form-group">
          <label for="category" class="control-label">カテゴリー</label>
          <select v-model="post.category_id" class="form-control" id="category">
            <option disabled value="">選択してください</option>
            <option :value="category.id" v-for="(category, index) in categories" :key="index">
              {{ category.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="tag" class="control-label">タグ</label>
          <select v-model="post.tag_ids" multiple="" class="form-control" id="tag">
            <option :value="tag.id" v-for="(tag, index) in tags" :key="index">
              {{ tag.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="content" class="control-label">本文</label>
          <textarea v-model="post.content" class="form-control" id="content" placeholder="本文" rows="10"></textarea>
        </div>
        <div class="form-group">
          <div class="col-md-12 text-right">
            <button class="btn btn-primary">投稿する</button>
          </div>
        </div>
      </form>
      <div class="col-md-6">
        <article>
          <h1>{{ post.title }}</h1>
          <hr>
          <div v-html="post.markdown"></div>
        </article>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Post from '../../models/Post';

  export default {
    props: {
      id: Number
    },
    computed: {
      ...mapGetters('posts', [
        'findPostById'
      ]),
      ...mapGetters('categories', [
        'categories'
      ]),
      ...mapGetters('tags', [
        'tags'
      ]),
      post() {
        if (this.isNew) return new Post({});
        const post = this.findPostById(this.id);
        return !post ? new Post({}) : post;
      },
      isNew() {
        return !this.id;
      },
      editTitle() {
        return this.isNew ? '新規投稿' : '投稿編集';
      }
    },
    async created() {
      const promises = [
        this.$store.dispatch('categories/fetch'),
        this.$store.dispatch('tags/fetch')
      ];
      if (!this.isNew) {
        promises.push(this.fetch());
      }
      await Promise.all(promises);
    },
    methods: {
      async fetch() {
        await this.$store.dispatch('posts/fetchById', this.id);
      },
      async submit() {
        if (this.isNew) {
          await this.$store.dispatch('posts/create', this.post);
        } else {
          await this.$store.dispatch('posts/update', { id: this.id, post: this.post });
        }

        this.$router.push('/edit/posts');
      }
    }
  };
</script>
