<template>
  <div class="container">
    <h1>投稿一覧</h1>
    <div>
      <div class="btn-group pull-right">
        <button class="btn btn-sm btn-default" @click="create">新規投稿</button>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>タイトル</th>
            <th>スラッグ</th>
            <th>投稿日時</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(post, index) in posts" :key="post.id">
            <td>{{ index + 1 }}</td>
            <td>{{ post.title }}</td>
            <td>{{ post.slug }}</td>
            <td>{{ post.publishedAt }}</td>
            <td>
              <div class="btn-group pull-right">
                <button class="btn btn-sm btn-default" @click="edit(post.id)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-sm btn-default" @click="destroy(post.id)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <blog-pagination
        :totalPages="postsPage.last"
        :currentPage="postsPage.current"
        :pageLimit="7"
        baseUrl="/edit/posts">
      </blog-pagination>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import PostSearchParams from '../../models/PostSearchParams';
  import Pagination from '../../components/Pagination.vue';

  export default {
    components: {
      'blog-pagination': Pagination
    },
    props: {
      page: Number
    },
    computed: {
      ...mapGetters('posts', {
        posts: 'posts',
        postsPage: 'page'
      }),
      ...mapGetters('auth', [
        'user'
      ])
    },
    async created() {
      await this.fetch();
    },
    watch: {
      $route: 'fetch',
      user: 'fetch'
    },
    methods: {
      async fetch() {
        if (!this.user) return;

        await this.$store.dispatch('posts/fetch', new PostSearchParams({
          username: this.user.name,
          page: this.page,
          per_page: 10
        }));
      },
      create() {
        this.$router.push('/edit/posts/new');
      },
      edit(id) {
        this.$router.push(`/edit/posts/${id}`);
      },
      async destroy(id) {
        await this.$store.dispatch('posts/delete', id);
      }
    }
  };
</script>
