<template>
  <div class="container-fluid">
    <h1>システム設定</h1>
    <div class="row">
      <div class="col-md-3">
        <ul class="nav nav-pills nav-stacked">
          <router-link tag="li" to="/admin/categories"><a>カテゴリー</a></router-link>
          <router-link tag="li" to="/admin/tags"><a>タグ</a></router-link>
        </ul>
      </div>
      <div class="col-md-9">
        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>
</script>
