<template>
  <div>
    <h2>カテゴリー</h2>
    <div>
      <div class="col-md-7">
        <h3>一覧</h3>
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-default" @click="create">新規追加</button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>名前</th>
              <th>スラッグ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(category, index) in categories" :key="category.id">
              <td>{{ index + 1 }}</td>
              <td>{{ category.name }}</td>
              <td>{{ category.slug }}</td>
              <td>
                <div class="btn-group pull-right">
                  <button class="btn btn-sm btn-default" @click="edit(category.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-sm btn-default" @click="destroy(category.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-md-offset-1" v-if="category">
        <h3>{{ editTitle }}</h3>
        <form class="form-horizontal" @submit.prevent="save">
          <div class="form-group">
            <label for="title" class="control-label">名前</label>
            <input v-model="category.name" type="text" class="form-control" id="title" placeholder="名称">
          </div>
          <div class="form-group">
            <label for="slug" class="control-label">スラッグ</label>
            <input v-model="category.slug" type="text" class="form-control" id="slug" placeholder="スラッグ">
          </div>
          <div class="form-group">
            <div class="col-md-12 text-right">
              <button class="btn btn-sm btn-primary">保存する</button>
              <button class="btn btn-sm btn-primary" @click.prevent="clear">キャンセル</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Category from '../../models/Category';

  export default {
    data() {
      return {
        category: null
      };
    },
    computed: {
      ...mapGetters('categories', [
        'categories',
        'findCategoryById'
      ]),
      isNew() {
        return !this.category || !this.category.id;
      },
      editTitle() {
        return this.isNew ? '新規追加' : '編集';
      }
    },
    async created() {
      await this.$store.dispatch('categories/fetch');
    },
    methods: {
      clear() {
        this.category = null;
      },
      create() {
        this.category = new Category({});
      },
      edit(id) {
        const category = this.findCategoryById(id);
        this.category = category.clone();
      },
      async save() {
        if (this.isNew) {
          await this.$store.dispatch('categories/create', this.category);
        } else {
          await this.$store.dispatch('categories/update', { id: this.category.id, category: this.category });
        }
        this.clear();
      },
      async destroy(id) {
        await this.$store.dispatch('categories/delete', id);
        this.clear();
      }
    }
  };
</script>
