<template>
  <div>
    <h2>タグ</h2>
    <div>
      <div class="col-md-7">
        <h3>一覧</h3>
        <div class="btn-group pull-right">
          <button class="btn btn-sm btn-default" @click="create">新規追加</button>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>名前</th>
              <th>スラッグ</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(tag, index) in tags" :key="tag.id">
              <td>{{ index + 1 }}</td>
              <td>{{ tag.name }}</td>
              <td>{{ tag.slug }}</td>
              <td>
                <div class="btn-group pull-right">
                  <button class="btn btn-sm btn-default" @click="edit(tag.id)">
                    <span class="glyphicon glyphicon-pencil"></span>
                  </button>
                  <button class="btn btn-sm btn-default" @click="destroy(tag.id)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-4 col-md-offset-1" v-if="tag">
        <h3>{{ editTitle }}</h3>
        <form class="form-horizontal" @submit.prevent="save">
          <div class="form-group">
            <label for="title" class="control-label">名前</label>
            <input v-model="tag.name" type="text" class="form-control" id="title" placeholder="名称">
          </div>
          <div class="form-group">
            <label for="slug" class="control-label">スラッグ</label>
            <input v-model="tag.slug" type="text" class="form-control" id="slug" placeholder="スラッグ">
          </div>
          <div class="form-group">
            <div class="col-md-12 text-right">
              <button class="btn btn-sm btn-primary">保存する</button>
              <button class="btn btn-sm btn-primary" @click.prevent="clear">キャンセル</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex';
  import Tag from '../../models/Tag';

  export default {
    data() {
      return {
        tag: null
      };
    },
    computed: {
      ...mapGetters('tags', [
        'tags',
        'findTagById'
      ]),
      isNew() {
        return !this.tag || !this.tag.id;
      },
      editTitle() {
        return this.isNew ? '新規追加' : '編集';
      }
    },
    async created() {
      await this.$store.dispatch('tags/fetch');
    },
    methods: {
      clear() {
        this.tag = null;
      },
      create() {
        this.tag = new Tag({});
      },
      edit(id) {
        const tag = this.findTagById(id);
        this.tag = tag.clone();
      },
      async save() {
        if (this.isNew) {
          await this.$store.dispatch('tags/create', this.tag);
        } else {
          await this.$store.dispatch('tags/update', { id: this.tag.id, tag: this.tag });
        }
        this.clear();
      },
      async destroy(id) {
        await this.$store.dispatch('tags/delete', id);
        this.clear();
      }
    }
  };
</script>
